


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    background-color:white;
    display:block;
    width: 550px;
    margin: 250px auto;
    padding: 30px;
    border: 1px solid #000;
    border-radius: 20px;
}